@{
    Layout = "_LayoutSimple";
}

@await Html.PartialAsync("Partial/_Header")
    
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("Partial/_Footer")

@section Styles
{
    @await RenderSectionAsync("Styles", false)
}

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}
