<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Publications.MVC</title>

    @await Html.PartialAsync("Partial/_Styles")
    
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    @RenderBody()
    
    @await Html.PartialAsync("Partial/_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
