<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">
            <i class="fa fa-sign-out-alt"></i> Выход
        </a>
    </li>
</ul>